tr {
    text-align: center;
}

thead tr {
    border: 1px solid #efefef;
    background: #89cff0;
}

thead tr th {
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

tbody tr td {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 5px;
}

tbody tr:nth-child(odd) {
    background: #efefef;
}